<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>There are {{countwords}} words in your text</h1>
    
    <h2>Your Text:</h2>
    {{ fulltext }}

    <br></br>

    <h1>Word Count:</h1>
    
    {% for word, counttotal in sortedwords %}
    {{ word }} - {{ counttotal }}
    <br></br>
    {% endfor %}

    <a href="{% url 'action' %}">Start Again</a>

</body>
</html>